<div class="card card--vuln  disclosure--not-new severity--{{metadata.severity}}" data-snyk-test="{{metadata.severity}}">
    <h2 class="card__title">{{metadata.title}}</h2>
    <div class="card__section">

        <div class="label label--{{metadata.severity}}">
            <span class="label__text">{{metadata.severity}} severity</span>
        </div>

        <hr/>

        <ul class="card__meta">
            {{#if list.[0].displayTargetFile }}
            <li class="card__meta__item">
                Manifest file: {{list.[0].path}} <span class="list-paths__item__arrow">›</span> {{list.[0].displayTargetFile}}
            </li>
            {{/if}}
            <li class="card__meta__item">
                Package Manager: {{metadata.packageManager}}
            </li>
            <li class="card__meta__item">
                {{#if_eq list.0.type "license"}}
                    Module:
                {{else}}
                    Vulnerable module:
                {{/if_eq}}

                {{#if_eq metadata.type "npm"}}
                    <a href="/test/{{@root.project.type}}/{{metadata.name}}">{{metadata.name}}</a>
                {{else}}
                    {{metadata.name}}
                {{/if_eq}}
            </li>

            {{#if_not_eq list.[0].packageManager "Unmanaged (C/C++)"}}
            <li class="card__meta__item">Introduced through:
                {{#if_eq metadata.packageManager "npm"}}
                    {{#if_eq (count list.[0].from) 1}}
                        <a href="/test/{{@root.project.type}}/{{list.[0].from.[0]}}">
                            {{list.[0].from}}
                        </a>
                    {{/if_eq}}
                {{else}}
                    {{#if_eq (count list.[0].from) 1}}
                        {{list.[0].from}}
                    {{/if_eq}}
                {{/if_eq}}

                {{#if_eq @root.project.type "npm"}}
                    {{#if_eq (count list.[0].from) 2}}
                        <a href="/test/{{@root.project.type}}/{{list.[0].from.[0]}}">
                            {{list.[0].from.[0]}}
                        </a>
                        and
                        <a href="/test/{{@root.project.type}}/{{list.[0].from.[1]}}">
                            {{list.[0].from.[1]}}
                        </a>
                    {{/if_eq}}
                {{else}}
                    {{#if_eq (count list.[0].from) 2}}
                        {{list.[0].from.[0]}} and {{list.[0].from.[1]}}
                    {{/if_eq}}

                    {{#if_eq @root.project.type "npm"}}
                        {{#ifCond (count list.[0].from) '>=' 3}}
                            <a href="/test/{{@root.project.type}}/{{list.[0].from.[0]}}">{{list.[0].from.[0]}}</a>,
                            <a href="/test/{{@root.project.type}}/{{list.[0].from.[1]}}">{{list.[0].from.[1]}}</a> and others
                        {{/ifCond}}
                    {{else}}
                        {{#ifCond (count list.[0].from) '>=' 3}}
                            {{list.[0].from.[0]}}, {{list.[0].from.[1]}} and others
                        {{/ifCond}}
                    {{/if_eq}}
                {{/if_eq}}
            </li>
            {{/if_not_eq}}
        </ul>

        {{#if_not_eq list.[0].packageManager "Unmanaged (C/C++)"}}
        <hr/>

        {{#unless showSummaryOnly}}

            {{#if_eq @root.project.type "npm"}}
                <h3 class="card__section__title">Detailed paths and remediation</h3>
            {{else}}
                <h3 class="card__section__title">Detailed paths</h3>
            {{/if_eq}}

            <ul class="card__meta__paths">
                {{#each list}}
                    {{#isDoubleArray from}}
                        {{#each .}}
                        <li class="list-paths__item">
                            <span class="list-paths__item__introduced"><em>Introduced through</em>:
                                {{#each .}}
                                    {{.}}
                                    {{#unless @last}} <span class="list-paths__item__arrow">›</span> {{/unless}}
                                {{/each}}
                            </span>
                        {{/each}}
                    {{else}}
                        <li>
                        <span class="list-paths__item__introduced"><em>Introduced through</em>:
                            {{#each .}}
                                {{.}}
                                {{#unless @last}} <span class="list-paths__item__arrow">›</span> {{/unless}}
                            {{/each}}
                        </span>
                    {{/isDoubleArray}}

                    {{#if_eq @root.project.type "npm"}}
                        <span class="list-paths__item__remediation">
                        <strong>Remediation:</strong>
                        {{#if_any isUpgradable isPatchable}}
                            {{#upgradeAvailable upgradePath}}{{!-- Direct dependency with upgrade. --}}
                                {{#if_eq upgradePath.[1] from.[1]}}{{!-- Dependencies are out of date. --}}
                                    Your dependencies are out of date, otherwise you would be using a newer {{name}} than {{name}}@{{version}}.
                                    Try deleting node_modules.
                                    If the problem persists, one of your dependencies may be bundling outdated modules.
                                {{else}}{{!-- Dependencies are not out of date. --}}
                                    Upgrade to {{#firstNonFalse upgradePath}}{{.}}{{/firstNonFalse}}.
                                {{/if_eq}}
                                {{else}}{{!-- This is not a direct dependency, but there is an upgrade --}}
                                    {{#if @root.isTest}}{{!-- This is a test page --}}
                                    No direct dependency upgrade can address this issue.
                                    If possible, manually upgrade to {{#firstNonFalse upgradePath}}{{.}}{{/firstNonFalse}},
                                    or run <code><a href="/docs/using-snyk/#monitor">snyk monitor</a></code> to get notified when an easier upgrade or a patch becomes available.
                                    {{else}}{{!-- This is a monitor page --}}
                                    No direct dependency upgrade can address this issue.
                                    If possible, manually upgrade to {{#firstNonFalse upgradePath}}{{.}}{{/firstNonFalse}}.
                                    We'll notify you when an easier upgrade or a patch is available.
                                    {{/if}}
                            {{/upgradeAvailable}}
                        {{else}}{{!-- There are no upgrades or patches --}}
                            No remediation path available.
                        {{/if_any}}
                        </span><!-- .list-paths__item__remediation -->
                    {{/if_eq}}
                    </li>
                {{/each}}
            </ul><!-- .list-paths -->
        {{/unless}}
        {{/if_not_eq}}

    </div><!-- .card__section -->

    {{#unless showSummaryOnly}}
      <hr/>
      <!-- Overview -->
      {{{markdown metadata.description}}}
      <hr/>
    {{else}}
      {{#if metadata}}
        {{{getRemediation metadata.description metadata.fixedIn}}}
      {{/if}}
    {{/unless}}

    <div class="cta card__cta">
        <p><a href="https://snyk.io/vuln/{{metadata.id}}">More about this vulnerability</a></p>
    </div>

</div><!-- .card -->
