{{#*inline "checkbox"}}
  <span>
    <input type="checkbox" id="{{id}}" checked="checked">
    <label for="{{id}}">{{label}}</label>
  </span>
{{/inline}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Language" content="en-us">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Snyk test report</title>
  <meta name="description" content="{{uniqueCount}} known vulnerabilities found in {{summary}}.">
  <link rel="icon" type="image/png" href="https://res.cloudinary.com/snyk/image/upload/v1468845142/favicon/favicon.png" sizes="194x194">
  <link rel="shortcut icon" href="https://res.cloudinary.com/snyk/image/upload/v1468845142/favicon/favicon.ico">
  {{> inline-css }}
</head>

<body class="section-projects">
<main class="layout-stacked">

  <div class="layout-stacked__header header">
    <header class="project__header">
      <div class="layout-container--short">
        <h1 class="project__header__title">Snyk test report</h1>
        <p class="timestamp">{{moment d "MMMM Do YYYY, h:mm:ss a"}}</p>
        {{#if paths}}
          <div class="source-panel">
            <span>Scanned the following paths:</span>
            <ul>
              {{#each paths}}<li>{{this}}</li>{{/each}}
            </ul>
          </div>
        {{/if}}
        {{#if path}}
          <div class="source-panel">
            <span>Scanned the following path:</span>
            <ul><li>{{path}}</li></ul>
          </div>
        {{/if}}

        <div class="meta-counts">
          <div class="meta-count"><span>{{uniqueCount}}</span> <span>known vulnerabilities</span></div>
          <div class="meta-count"><span>{{summary}}</span></div>
          <div class="meta-count"><span>{{dependencyCount}}</span> <span>dependencies</span></div>
        </div><!-- .meta-counts -->
      </div><!-- .layout-container--short -->
    </header><!-- .project__header -->
  </div><!-- .layout-stacked__header -->

  <div class="layout-stacked__content">
    <div class="layout-container--short" style="padding-top: 35px;">   
        <div class="filter-box">
          <h3>filter</h3>
          <hr/>
          {{> checkbox id="introduced" label="Introduced Through"}}
          {{> checkbox id="overview" label="Overview"}}
          {{> checkbox id="details" label="Details"}}
          {{> checkbox id="proof-of-concept" label="Proof of Concept"}}
          {{> checkbox id="remediation" label="Remediation"}}
          {{> checkbox id="disclosure-timeline" label="Disclosure Timeline"}}
          {{> checkbox id="references" label="References"}}
        </div>
      <div class="cards--vuln filter--patch filter--ignore">
      {{#each vulnerabilities}}
        {{> vuln-card }}
      {{/each}}
      </div><!-- cards -->
    </div>
  </div><!-- .layout-container -->

</main><!-- .layout-stacked__content -->
{{> inline-script }}
</body>
</html>
