<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>maban/pattern-library | Snyk</title>
    <meta name="description" content="4 known vulnerabilities found in 6 vulnerable paths.">
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/snyk/image/upload/v1468845142/favicon/favicon.png" sizes="194x194">
    <link rel="shortcut icon" href="https://res.cloudinary.com/snyk/image/upload/v1468845142/favicon/favicon.ico">
    <link rel="stylesheet" href="https://static.snyk.io/prod/static-assets/style/build/initial.min.67beb0802da87abfd2bd1a320acac842.md5.css">
    <!--[if lt IE 9]>
    <script src="https://static.snyk.io/prod/static-assets/js/vendor/html5shiv.40bd440d29b3a9371b0c63fec41ee64f.md5.js"></script>
    <![endif]-->
  </head>
  <body class="section-projects">

<main class="layout-stacked">
<link rel="stylesheet" href="https://static.snyk.io/prod/static-assets/style/build/main.min.c03bcdc81577e6d89403274fe3835f56.md5.css"><script> </script><!-- Why this is here: https://jakearchibald.com/2016/link-in-body/ -->



  <div id="messaging-alerts">
  </div>


    <div class="layout-stacked__header header">

    <header class="project__header">
      <div class="layout-container--short">
        <h1 class="project__header__title">
          <span class="icon-type--npm--inverse -lg">{{title}}</span>
        </h1>
      </div><!-- .layout-container--short -->
    </header><!-- .project__header -->

  <div id="messaging-alerts">
  </div>

  <div class="layout-container">
    <div class="layout-split">
      <div class="layout-split__major">
        <h2 data-id="7823b6f3-ad66-415c-a238-2ed8fdca49cd" class="project__snapshot-title">maban/pattern-library</h2>
      </div><!-- .layout-split__major -->

      <div class="layout-split__relative-minor u--right-align">
        <p><em>Updated 14 hours ago. <a href="/org/maban/monitor/7823b6f3-ad66-415c-a238-2ed8fdca49cd/" >View snapshot details.</a></em></p>
      </div><!-- .layout-split__relative-minor -->
    </div><!-- .layout-split -->

    <div class="meta-counts">
      <div class="label label--counter meta-count">
        <span>Known vulnerabilities</span>
        <span >{{uniqueCount}}</span>
      </div>
      <div class="label label--counter meta-count"><span>Vulnerable paths</span><span>{{vulnerabilities.length}}</span></div>
      <div class="label label--counter meta-count"><span >Dependencies</span><span >{{dependencyCount}}</span></div>
    </div><!-- .meta-counts -->

  </div><!-- .layout-container -->

  <nav class="nav-tabs">
    <div class="layout-container--short">
      <ul class="nav-tabs__list" role="tablist">
        <li class="nav-tabs__list-item">
          <a href="?tab=vulnerabilities" id="tab--vulnerabilities" class="nav-tabs__list-item__link state--active" role="tab" aria-controls="vulnerabilities" tabindex="0">
            <span>Vulnerabilities</span>
          </a>
        </li>
        <li class="nav-tabs__list-item">
          <a href="?tab=dependencies" id="tab--dependencies" class="nav-tabs__list-item__link" role="tab" aria-controls="dependencies" tabindex="0">
            <span>Dependencies</span>
          </a>
        </li>
      </ul><!-- .nav-tabs__list -->
    </div><!-- .layout-container--short -->
  </nav><!-- .nav-tabs -->

</div><!-- .layout-stacked__header -->

<div class="layout-stacked__content">

  <div class="layout-container--short">

    <div class="layout-v-sidebar">


      <aside class="layout-v-sidebar__sidebar">
        <div class="filter" id="filter-severity"><div class="filter--disclosure">
    <p class="form__description">Show:</p>
    <ul class="list-form" id="filter--disclosure" >
      <li class="form__item form__item--radio filter__disclosure--all">
        <input id="filter__disclosure--all__input" name="filter__disclosure" type="radio" class="form__item__input" value="card--vuln" checked="checked" data-snyk-track-on-click="disclosure filter was used"  />
        <label for="filter__disclosure--all__input" class="form__item__label">
          <span class="form__item__label__text__detail">All vulnerabilities</span>
        </label>
      </li>
      <li class="form__item form__item--radio filter__disclosure--new">
        <input id="filter__disclosure--new__input" name="filter__disclosure" type="radio" class="form__item__input" value="disclosure--new" data-snyk-track-on-click="disclosure filter was used"  />
        <label for="filter__disclosure--new__input" class="form__item__label">
          <span class="form__item__label__text__detail">New vulnerabilities only</span>
        </label>
      </li>
    </ul>
  </div>

  <p class="form__description">Filter:</p>
  <ul class="list-form filter--severity" id="filter--severity" >
    <li class="form__item form__item--checkbox filter__severity--high">
      <input id="filter__severity--high__input" name="filter__severity--high" type="checkbox" class="form__item__input filter__checkbox" value="severity--high" checked="checked" data-snyk-track-on-click="severity filter was used"  />
      <label for="filter__severity--high__input" class="form__item__label">
        <span class="form__item__label__text__detail">High severity</span>
      </label>
    </li>
    <li class="form__item form__item--checkbox filter__severity--medium">
      <input id="filter__severity--medium__input"  name="filter__severity--medium" type="checkbox"  class="form__item__input filter__checkbox" value="severity--medium" checked="checked" data-snyk-track-on-click="severity filter was used"  />
      <label for="filter__severity--medium__input" class="form__item__label">
        <span class="form__item__label__text__detail">Medium severity</span>
      </label>
    </li>
    <li class="form__item form__item--checkbox filter__severity--low">
      <input id="filter__severity--low__input" name="filter__severity--low" type="checkbox" class="form__item__input filter__checkbox" value="severity--low" checked="checked" data-snyk-track-on-click="severity filter was used"  />
      <label for="filter__severity--low__input" class="form__item__label">
        <span class="form__item__label__text__detail">Low severity</span>
      </label>
    </li>
  </ul>

  <ul class="list-form filter--patch--true" id="filter--patch--true" >
    <li class="form__item form__item--checkbox filter__patch--true">
      <input id="filter__patch--true__input" name="filter__patch--true" type="checkbox" class="form__item__input filter__checkbox" value="patch" data-snyk-track-on-click="patches filter was used"  />
      <label for="filter__patch--true__input" class="form__item__label">
        <span class="form__item__label__text__detail">Patched</span>
      </label>
    </li>
    <li class="form__item form__item--checkbox filter__ignore--true">
      <input id="filter__ignore--true__input"  name="filter__ignore--true" type="checkbox" class="form__item__input filter__checkbox" value="ignore"  />
      <label for="filter__ignore--true__input" class="form__item__label">
        <span class="form__item__label__text__detail">Ignored</span>
      </label>
    </li>
  </ul>
  </div>
      </aside><!-- .layout-v-sidebar__sidebar -->

      <section class="layout-v-sidebar__main">

        {{#each vulnerabilities}}
        <div class="cards--vuln filter--patch filter--ignore">

            <div class="card card--vuln  disclosure--not-new severity--{{severity}}" >

                <h2 class="card__title">{{title}}</h2>

                <div class="card__section">
                  <strong class="card__label label severity--{{severity}}">{{severity}} severity</strong>
                  <ul class="card__meta">

                      {{!-- Only make links for npm projects --}}

                      <li class="card__meta__item">Vulnerable module: {{name}}</li>

                      <li class="card__meta__item">Introduced through:

                        {{#if_eq packageManager "npm"}}
                        {{#if_eq (count from) 1}}<a href="/test/{{@root.project.type}}/{{from.[0]}}">{{from}}</a>{{/if_eq}}
                        {{else}}
                        {{#if_eq (count from) 1}}{{from}}{{/if_eq}}
                        {{/if_eq}}

                        {{#if_eq packageManager "npm"}}
                        {{#if_eq (count from) 2}}<a href="/test/{{@root.project.type}}/{{from.[0]}}">{{from.[0]}}</a> and <a href="/test/{{@root.project.type}}/{{from.[1]}}">{{from.[1]}}</a>{{/if_eq}}
                        {{else}}
                        {{#if_eq (count from) 2}}{{from.[0]}} and {{from.[1]}}{{/if_eq}}
                        {{/if_eq}}

                        {{#if_eq packageManager "npm"}}
                        {{#ifCond (count from) '>=' 3}}<a href="/test/{{@root.project.type}}/{{from.[0]}}">{{from.[0]}}</a>, <a href="/test/{{@root.project.type}}/{{from.[1]}}">{{from.[1]}}</a> and others{{/ifCond}}
                        {{else}}
                        {{#ifCond (count from) '>=' 3}}{{from.[0]}}, {{from.[1]}} and others{{/ifCond}}
                        {{/if_eq}}

                      </li>

                    </ul>
                  <!-- Overview -->
                  {{{markdown metadata.description}}}
                </div>

                <div class="cta card__cta">
                    <p><a href="https://snyk.io/?vuln={{metadata.id}}">More about this vulnerability</a></p>
                </div>

            </div><!-- .card -->

        </div><!-- cards -->
        {{/each}}

      </section>



    </div><!-- .layout-v-sidebar -->

  </div><!-- .layout-container -->

</div><!-- .layout-stacked__content -->



<div class="fullpage-spinner">
  <div class="fullpage-spinner__spinner">
    <div class="spinner"></div>
  </div>
</div>

</body>
</html>
