    <div class="layout-stacked__header header">
      <header class="project__header">
        <div class="layout-container">
          <a class="brand" href="https://snyk.io" title="Snyk">
            <svg width="68px" height="35px" viewBox="0 0 68 35" version="1.1" xmlns="http://www.w3.org/2000/svg" role="img">
              <title>Snyk - Open Source Security</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g fill="#fff">
                  <path d="M5.732,27.278 C3.445,27.278 1.589,26.885 0,26.124 L0.483,22.472 C2.163,23.296 4.056,23.689 5.643,23.689 C6.801,23.689 7.563,23.295 7.563,22.599 C7.563,20.594 0.333,21.076 0.333,15.839 C0.333,12.491 3.407,10.729 7.259,10.729 C9.179,10.729 11.161,11.249 12.444,11.704 L11.924,15.294 C10.577,14.774 8.747,14.291 7.222,14.291 C6.282,14.291 5.518,14.621 5.518,15.231 C5.518,17.208 12.903,16.815 12.903,21.925 C12.903,25.325 9.877,27.277 5.733,27.277 L5.732,27.278 Z M25.726,26.936 L25.726,17.894 C25.726,15.827 24.811,14.85 23.069,14.85 C22.219,14.85 21.329,15.09 20.719,15.46 L20.719,26.936 L15.352,26.936 L15.352,11.262 L20.602,10.83 L20.474,13.392 L20.652,13.392 C21.784,11.87 23.702,10.716 25.992,10.716 C28.736,10.716 31.112,12.416 31.112,16.436 L31.112,26.936 L25.724,26.936 L25.726,26.936 Z M61.175,26.936 L56.879,19.479 L56.446,19.479 L56.446,26.935 L51.082,26.935 L51.082,8.37 L56.447,0 L56.447,17.323 C57.515,16.017 61.112,11.059 61.112,11.059 L67.732,11.059 L61.454,17.689 L67.949,26.95 L61.175,26.95 L61.175,26.938 L61.175,26.936 Z M44.13,11.11 L41.93,18.262 C41.5,19.606 41.08,22.079 41.08,22.079 C41.08,22.079 40.75,19.516 40.292,18.172 L37.94,11.108 L31.928,11.108 L38.462,26.935 C37.572,29.04 36.199,30.815 34.369,30.815 C34.039,30.815 33.709,30.802 33.389,30.765 L31.255,34.061 C31.928,34.441 33.212,34.835 34.737,34.835 C38.703,34.835 41.359,31.627 43.215,26.885 L49.443,11.108 L44.132,11.108 L44.13,11.11 Z"></path>
                </g>
              </g>
            </svg>
          </a>
          <div class="header-wrap">
            {{#unless showSummaryOnly}}
              <h1 class="project__header__title">Snyk test report</h1>
            {{else}}
              <h1 class="project__header__title">Snyk test summary</h1>
            {{/unless}}

            <p class="timestamp">{{moment d "MMMM Do YYYY, h:mm:ss a (zZ)"}}</p>
          </div>
          {{#if projects}}
            <div class="source-panel">
              {{#if projects.[1] }}
              <span>Scanned the following paths:</span>
              <ul>
                {{#each projects}}<li class="paths">{{this.targetFilePath}} ({{this.projectType}})</li>{{/each}}
              </ul>
              {{else}}
              <span>Scanned the following path:</span>
              <ul>
                <li class="paths">{{projects.[0].targetFilePath}} ({{projects.[0].projectType}})</li>
              </ul>
              {{/if}}
            </div>

            <div class="meta-counts">
              <div class="meta-count"><span>{{totalIssues}}</span> <span>total issues</span></div>
            </div><!-- .meta-counts -->
          {{/if}}
        </div><!-- .layout-container--short -->
      </header><!-- .project__header -->
    </div><!-- .layout-stacked__header -->
